body {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
header {
  margin: 0;
}
main {
  margin: 15px;
}

li {
  list-style-type: none;
  padding: 0;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}

/************************
  * CSS PAR SECTION
  ************************/
/* header */
header {
  text-align: center;
}

header nav {
  padding: 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    25deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

header nav label {
  display: none;
}

header nav ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}
header nav ul img {
  width: 50px;
  float: left;
}

header nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1rem;
}
header nav a:hover {
  color: black; /* Couleur du fond au passage de la souris */
}

header nav p {
  padding: 20px;
}

/* formulaire */

body main section.contact form {
  margin: 20px auto;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #595959;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

body main section.contact form .message {
  margin: 20px;
}

/* footer */

footer {
  padding: 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    25deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}
footer section.contact img {
  width: 20px;
}
footer section.contact form {
  margin: 20px auto;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #595959;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
/************************
* MEDIA QUERIES
************************/

/**************************************/
/* Smartphone taille max 991px*/
/**************************************/
@media screen and (min-width: 991px) {
  header nav {
    height: 40px;
  }
  header nav ul,
  h1,
  p {
    display: none; /*Le menu desktop disparait*/
  }
  header nav label {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    font-size: 40px;
    color: white;
  }
}
